# Основные настройки приложения
NODE_ENV=production
PORT=3002

# GraphQL API URL
NEXT_PUBLIC_GRAPHQL_API_URL=http://api.tripstudy.uz/graphql

# Настройки для изображений
NEXT_PUBLIC_IMAGES_DOMAIN=localhost
NEXT_IMAGE_DOMAINS=localhost

# Другие переменные окружения
NEXT_TELEMETRY_DISABLED=1
